@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

:root {
    /* --color-fondo: #1e2326; */
    /* --color-fondo: #25293a; */
    --color-fondo:  #1d2434;
    --color-interes: #263044;
    --color-verde: #1cb698;
    --color-naranja: #fa5717;
    /* --gradiente: linear-gradient(to top, rgba(35, 35, 38, .8) 0%, rgba(30, 35, 38, 1) 100% ); */
    --gradiente: linear-gradient(to top, rgba(37, 41, 58, .8) 0%, rgba(37, 41, 58, 1) 100% );
}   
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Menu */

.contenedor-header {
    background-color: var(--color-fondo) ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;    
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: var(--color-naranja);
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .3s;
    text-decoration: none;
    text-transform: uppercase;
}

.contenedor-header header nav ul li a:hover {
    color:  var(--color-naranja);
}

.nav-responsive {
    background-color:  var(--color-naranja);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


.inicio {
    background: var( --gradiente ),
        url(./img/fondo.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: 75px;
    /* position: relative; */
}
/* .inicio .inicio-wave {   
    position: absolute;
    width: 100%;
    bottom: -120px;
    left: 0;
} */

.inicio .contenido-banner {
    padding: 20px;
    background-color: var(--color-fondo);
    max-width: 340px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 10px solid var(--color-naranja);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 50%;
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
    text-transform: uppercase;
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.redes a:hover {
    background-color: var(--color-naranja);
}

.sobremi , 
.skills,
.curriculum,
.portafolio {    
    color: var(--color-fondo);
    padding: 50px 20px;    
    margin: 0 auto;
}

.curriculum {
    height: 85vh;
}

.sobremi .contenido-seccion,
.skills .contenido-seccion,
.curriculum .contenido-seccion,
.portafolio .contenido-seccion
 {    
    width: 80%;
    max-width: 1100px;
    margin: auto;    
}

.sobremi h2,
.skills h2,
.curriculum h2,
.portafolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0 15px;
    border-bottom: 2px solid var(--color-fondo);
    position: relative;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
    
}
.skills h2 {
    border-bottom: 2px solid #fff;
}

.portafolio h2 {
    border-bottom: 2px solid #fff;
}

.sobremi h2::after,
.skills h2::after,
.curriculum h2::after,
.portafolio h2::after {

    content: '';
    width: 40px;
    height: 9px;
    background-color: #fa5717;
    display: block;
    position: absolute;
    bottom: -4.5px;
    left: 40%;
    border-radius: 5px;

}

.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: var(--color-naranja);
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul  {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: var( --color-naranja);
    width: 80px;
}

.sobremi .fila .col ul li:nth-child(1) strong{
    color:rgb(13, 113, 243);
}

.sobremi .fila .col ul li:nth-child(2) strong{
    color:rgb(235, 8, 39);
}

.sobremi .fila .col ul li:nth-child(3) strong{
    color:rgb(6, 197, 70);
}


.sobremi .fila .col ul li span {
    background-color: var(--color-naranja);
    color: #fff;
    padding: 4px;
    border-radius: 10px;
    /* font-weight: bold; */
}
.contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.contenedor-intereses .interes {
    width: 115px;
    height: 115px;
    background-color: var(--color-fondo);
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 2px solid var(--color-naranja);
    transition: .3s;
}

.interes:hover { 
    background-color: var(--color-naranja);
}

.interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    border: 2px solid var(--color-fondo);
    border-radius: 10px;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    position: relative;
    color: var(--color-fondo);
    z-index: 10;
    overflow: hidden;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fa5717;
    transition: 1s;
    z-index: -1;
}

.sobremi button:hover .overlay {
    width: 100%;
}

.skills {
    background-color: var(--color-fondo);
}

.skills .contenido-seccion {
    color: #fff;
}

.skills .fila {
    display: flex;
    width: 100%;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    
}

.skills .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #0f1522;
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
}

.skill .progreso {
    background-color: var(--color-naranja);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;    
}

.skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--color-naranja);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}
.skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 76%;
    }
}
.skill .php {
    width: 0%;
    animation: 2s php forwards;
}

@keyframes php {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}
.skill .laravel {
    width: 0%;
    animation: 2s laravel forwards;
}

@keyframes laravel {
    0% {
        width: 0%;
    }
    100% {
        width: 34%;
    }
}
.skill .nodejs {
    width: 0%;
    animation: 2s nodejs forwards;
}

@keyframes nodejs {
    0% {
        width: 0%;
    }
    100% {
        width: 35%;
    }
}
.skill .react {
    width: 0%;
    animation: 2s react forwards;
}

@keyframes react {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}
.skill .redux {
    width: 0%;
    animation: 2s redux forwards;
}

@keyframes redux {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}
.skill .angular {
    width: 0%;
    animation: 2s angular forwards;
}

@keyframes angular {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}
.skill .mysql {
    width: 0%;
    animation: 2s mysql forwards;
}

@keyframes mysql {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

.curriculum__educacion h3{
    margin: 20px 0;
}
.curriculum__educacion h4{
    margin: 20px 0;
}
.curriculum__educacion .casa {
    margin-bottom: 50px 0;
    display: block;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.curriculum__educacion .item h4 {
    color: var(--color-naranja);
}
.curriculum__educacion .item h4 i {
    margin-right: 20px;
}

.curriculum__educacion .casa span {
    background-color: var(--color-naranja);
    display: inline-block;
    padding:5px 8px ;
    color: #fff;
    border-radius: 20px;
}

.portafolio {    
    background-color: var(--color-fondo);
    color: #fff;
}

footer{
    background-color: var(--color-fondo);
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}


footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--color-naranja);
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}




.portafolio .proyecto {
    width: 100%;   
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    background-color: #fff;
    color: var(--color-fondo);
    padding: 40px;
    border-radius: 15px;

}
.proyecto__img {
    display: block;
    width: 25rem;
    height: 15.5rem;  
    border: 1px solid var(--color-fondo);
    border-radius: 10px;
}


.proyecto:nth-child(even) {
    flex-direction: row-reverse;
}

.proyecto:nth-child(odd) .proyecto__descripcion  {
margin-right: 50px;
padding-right: 50px;
border-right: 2px dashed var(--color-naranja);
}
.proyecto:nth-child(even) .proyecto__descripcion  {
margin-left: 50px;
padding-left: 50px;
border-left: 2px dashed var(--color-naranja);

}

.proyecto__descripcion h3 {
    margin-bottom: 20px;
}
.proyecto__descripcion a {
    color: var(--color-naranja);
    text-decoration: none;
    font-size: 25px;
}
.proyecto__descripcion a i{
    
    color: var(--color-fondo);
}
@media screen and (max-width: 996px) {
    .proyecto__img {
        width: 250px;
        height: 150px;
    }
}

@media screen and (max-width:980px){

    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }

    .inicio .contenido-banner img {
        
        border: 9px solid var(--color-naranja);        
        width: 65%;
       
    }
    
    .inicio .contenido-banner h1 {       
        font-size: 40px;
    }       
    
    .inicio .contenido-banner h2 {
        font-size: 17px;
    }  
    
    .contenedor-intereses .interes {
        width: 100px;
        height: 100px;
        font-size: 14px;        
    }

    .curriculum .contenido-seccion {
        width: 90%;
    }

    .curriculum__educacion .casa {       
        width: 100%;        
    }
    
}
@media screen and ( max-width: 866px) {
    .portafolio .proyecto {
        flex-direction: column;
    }
    .proyecto:nth-child(odd) .proyecto__descripcion  {
        margin: 20px 0;
        padding-bottom: 20px ;
        border-bottom: 2px dashed var(--color-naranja);
        border-right: none;
    }
        
    .proyecto:nth-child(even) .proyecto__descripcion  {            
        padding-left: 0;
        margin: 20px 0;
        padding-bottom: 20px ;
        border-bottom: 2px dashed var(--color-naranja);
        border-left: none;
        
    }
    .proyecto >  a {
        margin: 0 auto;
    }
@media screen and (max-width:700px){

    .inicio .contenido-banner img {
        margin-top: 40px;
        border: 8px solid var(--color-naranja);
        display: block;
        width: 60%;
        margin: auto;
        border-radius: 50%;
    }
    
    .inicio .contenido-banner h1 {
        margin-top: 40px;
        font-size: 38px;
        font-family: 'Righteous';
        text-transform: uppercase;
    }
    
    .inicio .contenido-banner h2 {
        font-size: 17px;
        font-weight: normal;
    }    
   
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .sobremi .contenedor-intereses {
        display: flex;
        justify-content: center;
    }

    .curriculum__educacion .casa  {       
        flex-direction: column;             
    }
    .curriculum__educacion .casa span {       
        flex-direction: column;  
        width: 115px;  
        margin-top: 5px;
        padding: 2px 8px;         
    }
    


    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}






